body
{
	background: url('../img/fondo.png') repeat center center;
}

header 
{
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background-color:#0174DF; 
	margin-bottom:20px;
	background: url('../img/header.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
 
.wrapper 
{
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo 
{
	color:#050505 ;
	font-size:50px;
	line-height:200px;
	float:left;
}
 
header nav 
{
	float:right;
	line-height:200px;
}
 
header nav a
{
	display:inline-block;
	color:#050505 ;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover 
{
	background:#f56f3a;
	border-radius:50px;
}

label{
	font-size: 12px;
	display: block;
	width:60%;}

#cargar{margin-bottom: 100px;}

main.general
{
	height: 100%;
}

aside.publicidad
{
	float: right;
	width: 300px;
	height: 100%;
}

aside.publicidad img
{
	width: 100%;
	padding: 0px 20px;
	height: auto;
}

section.noticias
{
	width:100%;
	margin-left: -300px;
	height: auto;
	float: right;
}